/* ===== Gellix Font Family ===== */
@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/") format("woff2"),
    url("../assets/fonts/Gellix-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-Light.woff2") format("woff2"),
    url("../assets/fonts/Gellix-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-Regular.woff2") format("woff2"),
    url("../assets/fonts/Gellix-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-Medium.woff2") format("woff2"),
    url("../assets/fonts/Gellix-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Gellix-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-Bold.woff2") format("woff2"),
    url("../assets/fonts/Gellix-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Gellix-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src:
    url("../assets/fonts/Gellix-Black.woff2") format("woff2"),
    url("../assets/fonts/Gellix-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ===== Marlide Display Font Family ===== */

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_Light.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_Regular.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_Medium.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_Bold.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src:
    url("../assets/fonts/MarlideDisplay_Heavy.woff2") format("woff2"),
    url("../assets/fonts/MarlideDisplay_Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ===== Global Variables ===== */

:root {
  --primary-color: #cbdc00;
  --secondary-color: #00ac3b;

  /* Font Family */
  --primary-font: "Gellix", sans-serif;
  --secondary-font: "Marlide Display", serif;

  /* Typography */
  --fs-h2: 54.32px;
  --fs-h3: 25px;
  --fs-body: 16px;
}

.secondary-font {
  font-family: var(--secondary-font);
}
.primary-font {
  font-family: var(--primary-font);
}
.text-primary-color {
  color: var(--primary-color);
}
.text-secondary-color {
  color: var(--secondary-color);
}
.bg-primary-color {
  background-color: var(--primary-color);
}
.bg-secondary-color {
  background-color: var(--secondary-color);
}
body {
  font-family: var(--primary-font);
  font-size: var(--fs-body);
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  margin: 0;
}
h2,
.h2 {
  font-size: var(--fs-h2);
}
h3,
.h3 {
  font-size: var(--fs-h3);
}
.btn {
  border-radius: 10px;
  font-weight: 600;
  line-height: 100%;

  &.btn-md {
    padding: 18px 41.75px;

    .fa-arrow-right {
      padding-left: 11.03px;
    }
  }

  &.btn-sm {
    padding: 18px 26.63px;

    .fa-arrow-right {
      padding-left: 6.03px;
    }
  }

  &.btn-primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #000;

    &:hover {
      background-color: var(--primary-color);
    }
  }

  .fa-arrow-right {
    transition: 0.3s;
  }
  &:hover {
    .fa-arrow-right {
      transform: translatex(5px);
    }
  }
}

/* Header Styles */
.header-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .top-header {
    padding: 20px 0;

    .navbar-brand {
      font-size: 57px;
      font-weight: 200;
      line-height: 100%;

      &:hover {
        color: var(--primary-color);
      }
      span {
        font-weight: 400;
      }
    }
  }

  .navbar {
    border: solid #ffffff42;
    border-width: 1px 0;
    padding: 21px 0;

    .navbar-nav {
      gap: 100px;

      .nav-item {
        .nav-link {
          color: #fff;
          padding: 0;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

/* Hero Banner Section*/
.banner-block {
  position: relative;
  height: 964px;
  width: 100%;

  .overlay-wrapper {
    position: absolute;
    z-index: 0;
    background-color: #0000008a;
    height: 100%;
    width: 100%;
  }

  .bg-vid {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;

    p {
      font-size: 54.32px;
      font-weight: 500;
      line-height: 54px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .scroll-down-btn {
    height: 69.7px;
    width: 38.86px;
    border-radius: 50px;
    border: 1px solid #fff;
    position: absolute;
    bottom: 22px;
    left: 50%;
    z-index: 11;
    transform: translatex(-50%);

    &:after {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      background-color: #ffffff;
      border-radius: 50%;
      bottom: 17.33px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* Why Work Section */
.why-work-block {
  position: relative;
  padding: 96px 0;

  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    position: relative;

    .container {
      position: relative;
      z-index: 2;
      margin-right: -120px;
      padding-top: 44.81px;
      padding-bottom: 58.73px;
    }

    .why-work-img {
      width: 100%;
      height: 100%;
      border-start-start-radius: 70px;
      display: block;
      object-fit: cover;
    }

    .content-block {
      border-radius: 20px 20px 0 70px;
      background-color: var(--secondary-color);
      padding: 39.48px 47.35px 56.24px 47.35px;
      max-width: 100%;
      width: 100%;
      position: relative;
      z-index: 3;

      h2 {
        line-height: 46px;
        width: 75%;
        font-size: 45px;
      }

      .descriptive-list {
        color: #fff;
        list-style: none;
        padding: 0;
        margin-top: 22.83px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        li {
          display: flex;
          align-items: center;
          gap: 6.5px;

          i {
            font-size: 22px;
          }
        }
      }

      .accordion {
        border-top: 1px solid #27bd5a;
        margin-top: 47.85px;
        counter-reset: step;

        .accordion-item {
          background: transparent;
          border: none;
          border-bottom: 1px solid #27bd5a;

          .accordion-button {
            background: transparent;
            counter-increment: step;
            color: #fff;
            box-shadow: none;
            padding-right: 0;
            padding-left: 35px;
            margin-bottom: 0;

            &::before {
              content: counter(step, decimal-leading-zero);
              position: absolute;
              left: 0;
              font-weight: 700;
              color: #ffffff69;
            }

            &::after {
              background-image: none;
              content: "\f067";
              font-family: "FontAwesome";
              font-weight: 900;
              font-size: 24px;
            }

            &:not(.collapsed)::after {
              content: "\f068";
            }
          }

          .accordion-body {
            padding: 0 0 22px 35px;
            color: #fff;
            line-height: 26px;
          }
        }
      }

      .read-more-btn {
        margin-top: 56.45px;
      }
    }
  }
}

/* Gallary Section */
.gallary-block {
  .gallarySwiper {
    margin-top: 64.87px;
    padding-left: 8%;
    padding-right: 0;

    .swiper-slide img {
      width: 100%;
      display: block;
      border-radius: 6px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .swiper-btn {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      color: #fff;
      background-color: var(--secondary-color);

      &.swiper-button-next {
        right: 5%;
      }

      &:after {
        font-size: 20px;
      }

      &.swiper-button-disabled {
        display: none;
      }

      &.swiper-button-prev {
        left: 10%;
      }
    }
  }
}

/* Footer Block */
.footer-block {
  padding-top: 76.33px;
  padding-bottom: 47.2px;

  .footer-brand {
    font-weight: 200;
    line-height: 100%;

    span {
      font-weight: 400;
    }
  }

  .social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-top: 42.08px;
    padding: 0;

    a {
      height: 33.28px;
      width: 33.28px;
      background-color: var(--secondary-color);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  .footer-links {
    display: flex;
    gap: 60px;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding-top: 23.63px;
    padding-left: 0;

    a {
      color: #000;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

/* Media Query for Tablet Devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-header {
    .toggle-btn-div {
      display: none;
    }
  }

  .banner-block {
    .content-wrapper {
      p {
        width: 100%;
      }
    }
  }

  .why-work-block {
    .section-grid {
      grid-template-columns: 1.4fr 1.4fr;

      .container {
        margin-right: -46px;
      }
    }
  }
}

/* Media Query for Mobile Devices */

@media (max-width: 767px) {
  :root {
    --fs-h2: 38px;
    --fs-h3: 24px;
    --fs-body: 14px;
  }
  .header-block {
    .top-header {
      border-bottom: 1px solid #ffffff42;
      flex-direction: row-reverse;
      .navbar-brand {
        font-size: 36px;
      }

      .toggle-btn-div {
        text-align: right;

        .navbar-toggler {
          border: 1px solid #fff;
          border-radius: 5px;
          color: #fff;
          padding: 7px;
        }
      }
    }
    .navbar {
      border-bottom: none;

      .navbar-nav {
        gap: 0;
        .nav-item {
          .nav-link {
            padding: 10px;
          }
        }
      }
    }
  }

  .banner-block {
    height: 500px;

    .content-wrapper {
      width: 80%;
      p {
        width: 100%;
        font-size: 42px;
        line-height: 110%;
      }
    }

    .scroll-down-btn {
      height: 50px;
      width: 25px;
      &:after {
        bottom: 10px;
        height: 10px;
        width: 10px;
      }
    }
  }
  .why-work-block {
    padding-block: 40px;

    .section-grid {
      grid-template-columns: 1fr;

      .container {
        margin: 0;
        padding-block: 0;
        order: 2;
      }
      .why-img-block {
        padding-inline: 10px;
        margin-bottom: 10px;
        .why-work-img {
          order: 1;
          border-radius: 20px;
        }
      }
      .content-block {
        padding: 20px;
        border-radius: 20px;

        h2 {
          font-size: 38px;
          width: 100%;
        }

        .accordion {
          margin-top: 10px;
        }
        .read-more-btn{
          margin-top: 20px;
        }
      }
    }
  }
  .gallary-block {
    .gallarySwiper {
      padding-inline: 0px;
      margin-inline: 10px;
      overflow: hidden;
      margin-top: 20px;

      .swiper-btn {
        height: 40px;
        width: 40px;

        &:after {
          font-size: 10px;
        }

        &.swiper-button-disabled {
          display: flex;
          opacity: 0.6;
        }
      }
    }
  }
  .footer-block {
    padding-block: 30px;

    .footer-brand {
      font-size: 42px;
    }
    .social-links {
      margin-block: 20px;
    }
    .footer-links {
      gap: 20px;
      flex-direction: column;
    }
  }
}
